name: Build and Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Tauri CLI
        run: cargo install tauri-cli --locked

      - name: Build Tauri app
        run: |
          cd steam/patcher/src-tauri
          cargo tauri build

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            steam/patcher/src-tauri/target/release/ghostguessr-patcher.exe
            steam/patcher/src-tauri/target/release/bundle/**
